* {
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 28, 121, 1) 0%,
    rgba(0, 222, 255, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}
.new {
  display: flex;
  flex-direction: column;
}
.container {
  min-height: 50vh;
  width: 500px;
  background: white;
  margin-top: 100px;
  border-radius: 10px;
}
#clock {
  font-size: 40px;
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  text-align: center;
  height: 60px;
  width: 400px;
  border-radius: 10px;
  margin-top: 50px;
  font-weight: bold;
  color: white;
  padding-top: 5px;
  margin-left: 50px;
}
.same {
  display: flex;
  gap: 5px;
}
.same h1 {
  margin-top: 50px;
  margin-left: 50px;
  font-family: "Poppins", sans-serif;
  font-size: 2.2rem;
}
img {
  height: 50px;
  width: 50px;
  margin-top: 50px;
}
.input {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 5px;
}
.input input {
  height: 50px;
  width: 300px;
  border-radius: 10px;
  border: none;
  background-color: rgb(235, 229, 229);
  font-size: 1.3rem;
  text-align: center;
  font-weight: bold;
}
.input button {
  width: 80px;

  font-size: 1.3rem;
  border-radius: 10px;
  border: none;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(215, 54, 103, 1) 0%,
    rgba(0, 222, 255, 1) 100%
  );
  cursor: pointer;
}
ul li {
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  margin-left: 25px;
  margin-top: 20px;
  user-select: none;
  cursor: pointer;
  position: relative;
}
ul li::before {
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(./unchecked.png);
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}
ul li.checked {
  color: #555;
  text-decoration: line-through;
}
ul li.checked::before {
  background-image: url(./checked.png);
}
ul li span {
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  margin-right: 35px;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 50px;
}
ul li span:hover {
  background: #edeef0;
}
#element {
  font-size: 40px;
  color: white;
  font-weight: bold;
  position: fixed;
  text-align: center;
}
